nav .mainMenu {
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: aliceblue;
}

nav .mainMenu li a:hover {
  background: blue;
}

nav .openMenu {
  color: aliceblue;
  cursor: pointer;
  margin: 0px 4px;
  padding: 12px;
  display: block;
}

nav .openMenu :hover {
  color: red;
}
